@{
    ViewBag.Title = "Home Page";
}

<style>
    .col{
        border: 1px solid blue;
    }
</style>



<div class="container">
    <div class="col">

        <h1>Rockola</h1>
        <input type="text" class="form-control" id="txtkeywork" placeholder="Buscar" />
        <p><a class="btn btn-default" href="javascript:void(0)" onclick="btnSearch()">Buscar &raquo;</a></p>
    </div>
    <br />
    <div class="row">

        <div class="col-4" id="ListYoutube">

        </div>



        <div class="col-4 " id="VideoYoutube">

        </div>


        <div class="col-4" id="AddVideo">



        </div>
    </div>
</div>
            <script>
    function btnSearch()
    {
        $.ajax(
            {
                url: '@Url.Action("SearchList")?Keywork=' + $('#txtkeywork').val(),
                type: 'GET',
                success: function (result)
                {
                    $('#ListYoutube').html(result);
                }
            });
    }

    function btnAdd(Video) {
        $.ajax
            (
            {
                    url: '@Url.Action("AddVideoPlaylist")?Video=' + Video,
                    type: 'GET',
                    success: function (result) {
                        $("#AddVideo").html(result);
                    }
            }
            )
    }

    function btnPlay(id) {
        $.ajax(
            {
                url: '@Url.Action("VideoList")?id='+id,
                type: 'GET',
                success: function(result) {
                        $("#VideoYoutube").html(result);
                    }
            }

       );
    }

            </script>
